/* Sophia Scott pet css */

body {
  font-family: 'Manrope', sans-serif;
  /* background-image: url(HD-wallpaper.jpg); */
  /* opacity: 0.5; */
  /* background-blend-mode: lighten; */
  background-color: rgba(5, 2, 34, 0.263);
  margin:0;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#top p {
  margin: 5px;
  font-size: 1.1em;

}

#top button {
  align-items: right;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aweek {
  margin-left: 14%;
  margin-top: 3%;
  /* margin-bottom: -1%; */
}

/* #weekPicker {}








#savedTable{
  width: 60%;
} */
#scheduleTable {
  border: 1px solid black;
  border-radius: 1em;
  padding: .5em;

}

#save {
  margin: 1em;
}

button {
  /* border-radius: 5em; */
  font-size: 12px;
  padding: 10px;
  /* font-family: 'Playfair Display', serif; */
}

#addRowButton {
  margin-right: 65%;
  margin-bottom: 1em;
}

table {
  width: 70%;
  /* background-color: #526D82;
  color: #DDE6ED; */
  left: 15%;
}

#savedTable {
  width: 100%;
  border-collapse: collapse;
}

#savedTable {
  border: none;
}

#savedTable th,
#savedTable td,
#scheduleTable th,
#scheduleTable td {
  padding: 8px;
  border: 1px solid black;
}

#savedTable th,
#scheduleTable th {
  background-color: rgb(6, 3, 40);
  color: rgb(221, 221, 221);
}

#savedTable td,
#scheduleTable td {
  text-align: center;
}

#savedTable td:empty,
#scheduleTable td:empty {
  display: none;
}

#savedTable th:last-child,
#savedTable td:last-child,
#scheduleTable th:last-child,
#scheduleTable td:last-child {
  border-right: none;
}

td:hover {
  background-color: lightgray;
}


#header {
  top: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(6, 3, 40);

  /* background-color: rgb(15, 40, 3); */
  display: block;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
}

#home {
  font-size: 1.3em;
  padding-left: 1em;
  padding-top: .8em;
  text-decoration: none;
  overflow: hidden;
  display: block;
  color: white;
}

footer {
  /* background-color: #333; */
  background-color: rgb(6, 3, 40);

  color: white;
  padding: .1em;
  margin-top: 1em;
  /* margin: 1em; */
  text-align: right;
  bottom: 0;
}

footer p {
  padding-right: 5px;
}


#bottomRow td {
  text-align: center;
  padding: 5px;
  width: 10%;

}

#bottomRow {
  width: 10%;
}

#toggleButton {
  border-radius: 0;
  align-items: right;
  margin-left: 90%;
  padding: 0;
  background: none !important;
}


